<form [formGroup]="form" class="flex gap-8 px-8">
  <mat-form-field class="w-full">
    <mat-label>{{ 'MAIN.FORM.ENTER_DATE_RANGE' | translate }}</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        [formControlName]="controls.FROM"
        [placeholder]="'MAIN.FORM.START_DATE' | translate"
      />
      <input
        matEndDate
        [formControlName]="controls.TO"
        [placeholder]="'MAIN.FORM.END_DATE' | translate"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>{{ 'MAIN.FORM.LOCATION' | translate }}</mat-label>
    <input
      matInput
      [formControlName]="controls.LOCATION"
      placeholder="A Coruña"
    />
    <mat-error *ngIf="form.get(controls.LOCATION)!.hasError('required')">
      {{ 'MAIN.FORM.PLZ_VALID_LOCATION' | translate }}
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    class="p-2 self-center shrink-0 search-button"
    [disabled]="!form.valid"
    (click)="search()"
  >
    <mat-icon>search</mat-icon>
    {{ 'MAIN.FORM.SEARCH' | translate }}
  </button>
</form>
