@use "@angular/material" as mat;
@include mat.core();

//LIGHT THEME
$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn
    )
  )
);

//DARK THEME
$my-app-dark-primary: mat.define-palette(mat.$teal-palette);
$my-app-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$my-app-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$my-app-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-app-dark-primary,
        accent: $my-app-dark-accent,
        warn: $my-app-dark-warn
      )
    ),
);
.light-theme{
  @include mat.all-component-themes($my-app-theme);
}
.dark-theme{
  @include mat.all-component-themes($my-app-dark-theme);
}

*{
  transition: all 0.1s ease-in-out;
}
