<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DanielDelRio Weather</span>
    <span class="spacer"></span>
    <div class="flex items-center gap-4">
      <app-theme-selector color="accent"></app-theme-selector>
      <app-translation-dropdown class="py-5 w-24"></app-translation-dropdown>
      <app-logout-button></app-logout-button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<main class="container py-12">
  <app-main-input-section></app-main-input-section>
  <app-main-output-section></app-main-output-section>
</main>
