<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DanielDelRio Weather</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      matTooltip="A"
      matTooltipPosition="above"
      aria-label="Change to light mode button"
      [disableRipple]="true"
    >
      <mat-icon>light_mode</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Change to dark mode"
      aria-label="Change to dark mode button"
      [disableRipple]="true"
    >
      <mat-icon>dark_mode</mat-icon>
    </button>
    <app-logout-button></app-logout-button>
  </mat-toolbar-row>
</mat-toolbar>
<main class="container py-12">
  <app-main-input-section></app-main-input-section>
</main>
